<!-- ******HEADER****** -->


<div class="header-wrapper header-wrapper-about">
    <section class="promo section">
        <div class="container text-center">
            <h2 class="title">About Us</h2>

            <p class="intro">
                We shake things up with our raucous combination of UX, Design, and Tech. Every idea, decision, or snippet of code is an opportunity to push ourselves, our work, and what’s possible.
            </p>
        </div>
    </section>
</div>




<!-- ******Job Section****** -->
<section class="join-us section">
    <div class="container">
        <h2 class="title text-center">Join Our Team</h2>

        <p class="intro text-center">

        </p>

        <div class="row">
            <div class="info col-md-7 col-sm-6 col-xs-12">
                <p>We're a melting pot of cultures, languages, engineers, designers and dreamers. We learn from each other and laugh with each other. Sound interesting?
               </p>

                <p>we engineer idea-driven digital experiences that bring our customers closer to their customers
                    We empower disruption by enabling our clients to innovate quickly. We marry innovative strategy with beautiful, human-centered design and precise engineering.  We reimagine the customer journey by replacing points of friction with points of delight.  We create emotional connections through experiences driven by context and personalization. Together, we are reimagining the way the world does business.</p>

                <p>If you are an software developer interested in joining our team, please email your CV to <a
                        href="#">hr@drsitsolutions.com</a></p>
            </div>
            <div class="partner col-md-4 col-sm-5 col-xs-12 col-md-push-1 col-sm-push-1 col-xs-push-0">
                <h3 class="sub-title">Want to partner with us?</h3>

                <p>Through servant leadership, our business is centered around creating experiences that our employees and customers will love to be a part of.We thrive on innovation, passion and change in a culture where there are no bad ideas or stupid questions.</p>
                <a ui-sref="contact" class="btn btn-cta btn-cta-primary">Contact us today!</a>
            </div>
            <!--//partner-->
        </div>
        <!--//row-->
    </div>
    <!--//row-->
</section><!--//job-->
