


    <section id="clients"  class="contact-section2 title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading title">Client portfolio</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="text-align: center">
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.epic.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/35163/epic-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.epic.com/">Epic Systems</a></p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://www.agero.com/" target="_blank"><img
                                src="https://media.glassdoor.com/sql/123127/agero-ma-squarelogo-1389649850855.png"
                                class="notranslate_alt notranslate_title" alt="" title=""></a>

                        <p><a style="color: #337ab7" target="_blank" href="https://www.agero.com/">Agero</a></p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.stoneriver.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/225065/stoneriver-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.stoneriver.com/">Stoneriver</a></p>

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.sita.aero/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/8631/sita-squarelogo-1434961000643.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.sita.aero/">Sita</a></p>


                    </div>
                </div>
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://www.linkedin.com/company/penson-financial-services" target="_blank">
                            <img src="https://media.glassdoor.com/sql/12687/penson-worldwide-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank"
                              href="hhttps://www.linkedin.com/company/penson-financial-services">Penson Financial</a></p>

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.cloudera.com/content/www/en-us.html" target="_blank">
                            <img src="https://media.glassdoor.com/sql/360671/cloudera-squarelogo-1423864671181.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.cloudera.com/content/www/en-us.html">Cloudera</a>
                        </p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://www.datadoghq.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/762009/datadog-squarelogo-1444825674260.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="https://www.datadoghq.com/">Datadog</a></p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://nextdoor.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/661718/nextdoor-squarelogo-1413490061071.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="https://nextdoor.com/">Nextdoor</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://wolterskluwer.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/10497/wolters-kluwer-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://wolterskluwer.com/">Wolters Kluwer</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.qrm.com/index.html" target="_blank">
                            <img src="https://media.glassdoor.com/sql/319302/qrm-squarelogo-1409413069956.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.qrm.com/index.html">QRM</a></p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.quill.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/4054/quill-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.quill.com/">Quill</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.staples.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/1909/staples-squarelogo-1445890991168.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.staples.com/">Staples</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://www.citrix.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/5432/citrix-systems-squarelogo-1414782780079.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="https://www.citrix.com/">Citrix</a></p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://www.zendesk.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/360923/zendesk-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="https://www.zendesk.com/">Zendesk</a></p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.staples.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/3956/schneider-electric-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.staples.com/">Schneider Electric</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://www.usbank.com/index.html" target="_blank">
                            <img src="https://media.glassdoor.com/sql/8937/u-s-bank-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="https://www.usbank.com/index.html">US Bank</a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.xilinx.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/2063/xilinx-squarelogo-1428361349750.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.xilinx.com/">Xilinx</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://www1.nationalgridus.com/CorporateHub" target="_blank">
                            <img src="https://media.glassdoor.com/sql/474/national-grid-usa-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="https://www1.nationalgridus.com/CorporateHub">National
                            Grid USA</a></p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.coned.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/16462/con-edison-of-new-york-squarelogo-1384273603042.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.coned.com/">Con Edison</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://www.cdw.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/2347/cdw-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="https://www.cdw.com/">CDW</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://jobs.nike.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/1699/nike-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://jobs.nike.com/">NIKE</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://disney.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/717/disney-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://disney.com/">Disney</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.bigswitch.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/388291/big-switch-networks-squarelogo-1441973192847.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank" href="http://www.bigswitch.com/">Big Switch</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="https://www.dbsystel.de/dbsystel/Startseite.html" target="_blank">
                            <img src="https://media.glassdoor.com/sql/602941/db-systel-squarelogo-1435729474781.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank"
                              href="https://www.dbsystel.de/dbsystel/Startseite.html">DB Systel</a></p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <a href="http://www.vudu.com/" target="_blank">
                            <img src="https://media.glassdoor.com/sql/271541/vudu-squarelogo.png"
                                 class="notranslate_alt notranslate_title" alt="" title="">
                        </a>

                        <p><a style="color: #337ab7" target="_blank"
                              href="http://www.vudu.com/">VUDU</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/4279/panasonic-squarelogo.png" class="notranslate_alt notranslate_title" alt="Panasonic Logo" title="">
                        <p><a style="color: #337ab7" target="_blank"
                              href="http://shop.panasonic.com/">Panasonic</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/7878/sony-pictures-entertainment-squarelogo-1428517762015.png" class="notranslate_alt notranslate_title" alt="Sony Pictures Entertainment Logo" title="">

                        <p><a style="color: #337ab7" target="_blank"
                              href="http://www.sonypictures.com/">Sony Pictures</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/3150/deutsche-bank-squarelogo.png" class="notranslate_alt notranslate_title" alt="Deutsche Bank Logo" title="">

                        <p><a style="color: #337ab7" target="_blank"
                              href="https://www.db.com/usa/">Deutsche Bank</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/631/suntrust-squarelogo.png" class="notranslate_alt notranslate_title" alt="SunTrust Logo" title="">

                        <p><a style="color: #337ab7" target="_blank"
                              href="https://www.suntrust.com">SunTrust Bank</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/13322/mitsubishi-ufj-financial-group-squarelogo.png" class="notranslate_alt notranslate_title" alt="Mitsubishi UFJ Financial Group Logo" title="">

                        <p><a style="color: #337ab7" target="_blank"
                              href="	https://www.mufg.jp">Mitsubishi Group</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/231988/coverity-squarelogo.png" class="notranslate_alt notranslate_title" alt="Coverity Logo" title="">

                        <p><a style="color: #337ab7" target="_blank"
                              href="https://www.coverity.com">Coverity</a></p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/9466/ulta-beauty-squarelogo-1438973561413.png" class="notranslate_alt notranslate_title" alt="Ulta Beauty Logo" title="">
                        <p><a style="color: #337ab7" target="_blank"
                              href="https://www.ulta.com">Ulta Beauty</a></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/4220/discovery-communications-squarelogo-1420815799907.png" class="notranslate_alt notranslate_title" alt="Discovery Communications Logo" title="">
                        <p><a style="color: #337ab7" target="_blank"
                              href="https://corporate.discovery.com">Discovery </a></p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/3482/hsbc-holdings-squarelogo.png" class="notranslate_alt notranslate_title" alt="HSBC Holdings Logo" title="">
                        <p><a style="color: #337ab7" target="_blank"
                              href="https://www.hsbc.com">HSBC Holdings </a></p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/7224/juniper-networks-squarelogo.png" class="notranslate_alt notranslate_title" alt="Juniper Networks Logo" title="">
                        <p><a style="color: #337ab7" target="_blank"
                              href="https://www.juniper.net">
                            Juniper Networks</a></p>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 text-center">
                    <div class="service-box">
                        <img src="https://media.glassdoor.com/sql/5775/vodafone-squarelogo.png" class="notranslate_alt notranslate_title" alt="Vodafone Logo" title="">
                        <p><a style="color: #337ab7" target="_blank"
                              href="https://www.vodafone.com">
                            Vodafone</a></p>
                    </div>
                </div>




            </div>
        </div>
    </section>