<!-- ******Contact Section****** -->
<section class="contact-section section">
    <div class="container">
        <h2 class="title text-center">Start your project today</h2>
        <p class="intro text-center">
            Everything you want in software development
            <br>
            On time. On budget. On point.
            <br>

            Get connected with one of our experts for a free consultation.

        </p>
        <ul class="contact-info list-inline text-center">
            <li class="tel"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><br /> <a href="+01-248-994-4311">248-994-4311</a></li>
            <li class="email"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><br /> <a href="#">hr@drsitsolutions.com</a></li>
        </ul>
    </div><!--//container-->
</section>

