<div class="bg-slider-wrapper">
    <div id="bg-slider" class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-1"></li>
            <li class="slide slide-2"></li>
            <!--<li class="slide slide-3"></li>-->
        </ul>
    </div>
</div>
<section id="home-promo" class="home-promo section">
    <div class="container text-center">
        <h2 class="title">
            <span class="upper">We build</span>
            <span class="middle">Mobile, Web and Cloud based applications</span>
        </h2>

    </div><!--//container-->
</section>

<!-- ******Why Section****** -->
<section id="who" class="who section">
    <div class="container text-center">
        <h2 class="title text-center">Who we are</h2>
        <p class="intro text-center">We are a small team of web developers and designers based in XYZ. We are specialised in JavaScript, AngularJS and Python. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <div class="row benefits text-center">
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
                    <h3 class="sub-title">Skilled team</h3>
                    <div class="desc">
                        <p>
                            Engineering more meaningful and customer experience
                            we combine strategy, design and highly skilled engineering team to
                            bring our customers closer to their customers.
                        </p>
                    </div>
                </div>
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12 sm-break">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe01c;"></div>
                    <h3 class="sub-title">Agile approach</h3>
                    <div class="desc">
                        <p>
                            Transform to Agile:
                            Establish best practices for Agile methods and cultural
                            change throughout the Project,
                            Program and Portfolio levels of your organization.
                        </p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe031;"></div>
                    <h3 class="sub-title">High quality code</h3>
                    <div class="desc">
                        <p>
                            Changing the way the world does business. We follow test driven methodology
                            to deliver very high quality code.We combine strategy, lean ux and engineering into an integrated,
                            agile model.
                        </p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>
                    <h3 class="sub-title">No overheads</h3>
                    <div class="desc">
                        <p>
                            We are focused on helping clients create meaningful and impactful brands.
                            Our permanent or contract Agile professionals are the right technical and
                            cultural fit to enhance your teams.
                        </p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
        <a class="btn btn-cta btn-cta-secondary" href="about.html">More about us</a>
    </div><!--//container-->
</section><!--//who-->

<br/>
<br/>

<!-- ******Testimonials Section****** -->
<section id="testimonials" class="testimonials section">
    <br>
    <br>
    <div class="container">
        <h2 class="title text-center">Our Work</h2>
        <p class="intro text-center">
            DRS IT Solutions, is a premier onsite/offshore software solutions and services company, headquartered in the Michigan with offices across the United States, India. We are recognized as the one of the largest private IT Company and among the fastest growing private companies in USA.
            Expanding at an exponential rate and yet agile in its approach, DRS IT Solutions has advanced far ahead from where it had started. After spreading deep roots as a staffing solutions leader, the company expanded to software development across United States.
        </p>
    </div><!--//container-->
</section><!--//testimonials-->

<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our technology partners.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/10471/sap-squarelogo.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/9219/akamai-squarelogo-1450105432041.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/1651/microsoft-squarelogo.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/11783/rackspace-squarelogo.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/6036/amazon-com-squarelogo-1432805660196.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/360671/cloudera-squarelogo-1423864671181.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/9222/f5-networks-squarelogo-1376675323531.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/12830/vmware-squarelogo-1450108409867.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/219/emc-squarelogo-1384524196403.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/115142/palo-alto-networks-squarelogo-1446665930134.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/1425/cisco-systems-squarelogo-1432804672266.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                    <img src="https://media.glassdoor.com/sql/1737/oracle-squarelogo-1434476900830.png" class="notranslate_alt notranslate_title" alt="" title="">
                </div>
            </div>




        </div>

    </div>
</section>
<br/>
<hr class="primary">
<!-- ******Logos Section****** -->
<section id="logos" class="logos section">
    <div class="container text-center">
        <h2 class="title">Who we have worked with</h2>
        <p class="intro">SaaS / Mobile apps / Marketing sites / Internal apps</p>
        <ul class="logo-list list-inline row">
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="assets/images/logos/logo-1.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6 xs-break"><a href="#"><img class="img-responsive" src="assets/images/logos/logo-2.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="assets/images/logos/logo-3.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="assets/images/logos/logo-4.png" alt="" /></a></li>
        </ul><!--//logo-list-->
        <ul class="logo-list list-inline row last">
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="assets/images/logos/logo-5.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6 xs-break"><a href="#"><img class="img-responsive" src="assets/images/logos/logo-6.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="assets/images/logos/logo-7.png" alt="" /></a></li>
            <li class="col-md-3 col-sm-3 col-xs-6"><a href="#"><img class="img-responsive" src="assets/images/logos/logo-8.png" alt="" /></a></li>
        </ul><!--//logos-list-->
        <a ui-sref="clients" style="font-size: 20px" class="btn btn-default">Click here to see out complete portfolio</a>
    </div><!--//container-->
</section><!--//logos-->

<!-- ******CTA Section****** -->
<section id="cta-section" class="cta-section section text-center home-cta-section">
    <div class="container">
        <h2 class="title">Want to have a quick chat?</h2>
        <p class="phone contact-info">
            <span class="intro">We are only a phone call away</span>
            <span class="info"><a href="tel:+08001234567">248-994-4311</a></span>
        </p><!--//phone-->
        <p class="email contact-info">
            <span class="intro">You can also email us</span>
            <span class="info"><a href="mailto:hello@yourdevstudio.com">hr@drsitsolutions.com</a></span>
        </p><!--//phone-->
    </div><!--//container-->
</section><!--//cta-section-->

<!-- ******Latest blog Section****** -->
<section id="latest-blog" class="latest-blog section">
    <div class="container">
        <h2 class="title text-center">Latest Blog Posts</h2>
        <div class="row">
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-responsive" src="assets/images/blog/blog-thumb-1.jpg" alt="" />
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title">Digital product development</h3>
                        <div class="desc">
                            <p>
                                Building contextual, personalized digital products across channels and platforms.
                            </p>
                        </div><!--//desc-->
                    </div><!--//content-wrapper text-center-->
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-responsive" src="assets/images/blog/blog-thumb-2.jpg" alt="" />
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title">User experience design</h3>
                        <div class="desc">
                            <p>
                                Creating new and reimagined frictionless experiences that bring you closer to your customer.
                            </p>
                        </div><!--//desc-->
                    </div><!--//content-wrapper text-center-->
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-responsive"  src="assets/images/blog/blog-thumb-3.jpg" alt="" />
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title">cx digital product strategy</h3>
                        <div class="desc">
                            <p>
                                Connecting the technologies of tomorrow with your business today.
                            </p>
                        </div><!--//desc-->
                    </div><!--//content-wrapper text-center-->
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//latest-blog-->

