<!-- ******Work list Section****** -->
<section id="work-list" class="section work-list">
    <div class="container text-center">
        <h2 class="title">Case Studies</h2>
        <!--<div id="filters" class="button-group clearfix">-->
            <!--<button class="btn button is-checked" data-filter="*">All</button>-->
            <!--<button class="btn button" data-filter=".saas">SaaS</button>-->
            <!--<button class="btn button" data-filter=".mobile-app">Mobile app</button>-->
            <!--<button class="btn button" data-filter=".website">Website</button>-->
            <!--<button class="btn button" data-filter=".startup">Startup</button>-->
            <!--<button class="btn button last" data-filter=".agency">Agency</button>-->
        <!--</div>&lt;!&ndash;//filters&ndash;&gt;-->
        <div class="items-wrapper isotope row">
            <div class="item startup saas col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-1.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">Velocity web application</a></h3>
                        <div class="meta">Startup / SaaS</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item startup mobile-app col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-2.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">Delta app development</a></h3>
                        <div class="meta">Startup / Mobile app</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item startup website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-3.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">Tempo</a></h3>
                        <div class="meta">Startup / Website </div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-4.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">USG Employee engagement</a></h3>
                        <div class="meta">Agency / Website</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item agency website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-5.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">Vivid seats</a></h3>
                        <div class="meta">m-commerce</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item startup mobile-app col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-6.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">pscu</a></h3>
                        <div class="meta">loyalty and rewards</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item startup saas col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-7.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">Cura</a></h3>
                        <div class="meta">legal eDiscovery</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item startup mobile-app website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-8.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">duluth</a></h3>
                        <div class="meta">m-commerce</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item startup mobile-app saas col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-9.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">rockwell</a></h3>
                        <div class="meta">automation product configuration</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item startup saas col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-10.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">BPS</a></h3>
                        <div class="meta">m-commerce</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item startup website mobile-app col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-11.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">Shell</a></h3>
                        <div class="meta">GasLocate Mobile app</div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item startup saas website col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="case-study-1.html"><img class="img-responsive" src="assets/images/work/work-example-thumb-12.jpg" alt="" /></a>
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title"><a href="case-study-1.html">ESRI</a></h3>
                        <div class="meta"> Website / SaaS </div>
                    </div><!--//content-->
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//items-wrapper-->
    </div><!--//container-fluid-->
</section><!--//work-list"-->

<!-- ******Services Section****** -->
<section id="services" class="services section">
    <div class="container text-center">
        <h2 class="title">Services</h2>
        <p class="intro">
            Like all crafts, doing great digital work requires taste. Our taste comes from doing this well, hundreds of times for brands that come from all backgrounds and verticals.
        </p>
        <div class="service-items row">
            <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="header-box">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
                    </div><!--//header-->
                    <div class="desc">
                        <h3 class="sub-title">UX &amp; Front-end</h3>
                        <p>
                            We live and breathe beautiful. Our design team is passionate about building simply amazing mobile products that push the limits of mobile capability. Whether you're going all in on an app, or looking to test the market or viability of an app -- We're the go-to team for all of it.
                        </p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="header-box">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe0ea;"></span>
                    </div><!--//header-->
                    <div class="desc">
                        <h3 class="sub-title">Back-end &amp; Database</h3>
                        <p>
                            We take engineering very seriously. By the end of our journey, you’ll have a beautiful, simple and intuitive mobile product that will be such an authentic reflection of you, and the goals of your organization. We like to call the satisfaction that comes with a successful app launch the ‘yes’ feeling.
                        </p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="header-box">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe003;"></span>
                    </div><!--//header-->
                    <div class="desc">
                        <h3 class="sub-title">Hosting</h3>
                        <p>
                            We know one size doesn’t fit all use cases. We can help you architect a solution with customized servers, storage and network capacity that meets your specific requirements and scales as business needs change.
                            A fully managed dedicated server is a great fit for your high-performance workloads.

                        </p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="header-box">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe028;"></span>
                    </div><!--//header-->
                    <div class="desc">
                        <h3 class="sub-title">Support</h3>
                        <p>
                            Offload the administration and infrastructure management to your dedicated support team. Let the hosting experts monitor and maintain your infrastructure 24x7x365, so you can focus on growing your business.
                            Our security engineers can assess and architect a solution will meet your requirements.

                        </p>
                    </div>
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section>

